// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.thumbnail {
  height: 450px;
}

.informations {
  margin: 20px 55px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.gray_block {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

h1 {
  font-style: bold;
}
